# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/
.env/
.venv_311/
venv_311/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
